@media screen and (max-width: 500px) {
  :root {
    font-size: 6px;
  }

  body {
    max-width: 100vw;
  }

  .page-1 {
    height: 90vh;
  }

  .page-5 {
    height: 80vh;
  }

  .page-1 .text-container {
    position: absolute;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    background-color: var(--bg-1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-1);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    /* padding: 0 10rem; */
  }

  .page-1 .text-container h1:nth-child(1),
  .page-1 .text-container h1:nth-child(3) {
    position: absolute;

    margin: 0px;
    padding: 0px;
    margin-right: 1.5rem;
    margin-left: 1.1rem;
    font-family: "MonteCarlo", cursive;
    font-weight: 400;
  }

  .page-1 .text-container h1:nth-child(1) {
    top: 1rem;
    left: 5rem;
    font-size: 12rem;
  }

  .page-1 .text-container h1:nth-child(3) {
    bottom: 1rem;
    right: 7rem;
    font-size: 11rem;
  }

  .page-1 .text-container h1:nth-child(2) {
    position: absolute;
    font-size: 22rem;
    margin: 0px;
    top: 1rem;
    left: 33%;
    padding: 0px;
    font-family: "Updock", cursive;
    font-weight: 200;
    opacity: 15%;
    padding: 0;
  }

  .page-2 {
    align-items: center;
    justify-content: center;
  }

  .page-2,
  .page-3 {
    height: 30vh;
  }
  .page-4 {
    height: 70vh;
  }

  .page-6,
  .page-7 {
    height: 100vh;
  }

  .page-1 .bg-img {
    max-height: 70%;
  }

  .page-3-phone-img-1,
  .page-3-phone-img-2 {
    display: inline;
    position: absolute;
    width: 55%;
    overflow: visible;
    z-index: 1000;
  }

  .page-3-phone-img-1 {
    top: 145vh;
    left: -27%;
  }

  .page-3-phone-img-2 {
    top: 200vh;
    right: -27%;
  }

  .page-3 img:nth-child(1) {
    top: 0rem;
    left: -1rem;
  }

  .page-3 img:nth-child(4) {
    bottom: 0;
    right: -1rem;
  }

  .page-3 p {
    width: 80%;
    text-align: center;
    font-size: 3rem;
    color: var(--text-1);
    font-family: "Alegreya SC", serif;
    z-index: 1;
  }

  .page-4 h1 {
    font-size: 8rem;
    padding: 2.5vw 5vw;
    margin: 0px auto 0px auto;
    line-height: 8rem;
  }

  .page-4 p {
    max-width: 95%;
  }

  .page-4 p:nth-child(3) {
    margin: -50px 0px -20px 0;
  }

  .page-5 .heading h1,
  .page-7 .heading h1 {
    font-size: 11rem;
    padding: 40px 0px;
  }

  .page-6 .heading h1 {
    font-size: 11rem;
    padding: 40px 0px;
    text-align: center;
  }

  .page-5 .holud-flowers {
    transform: translateY(0rem);
  }

  .page-5 .holud-flowers img:nth-child(2) {
    position: absolute;
    width: 18rem;
    height: auto;
    z-index: 1;
    opacity: 90%;
    top: -50%;
    right: 0rem;
    transform-origin: bottom center;
    animation: flower-animate-2 5s infinite linear;
    transform: scaleY(-1);
  }

  .page-5 .holud-flowers-2 {
    transform: translateY(5rem);
  }

  .page-5 .flower-container img:nth-child(1) {
    width: 18rem;
    bottom: -10rem;
    left: 0rem;
  }

  .page-5 .flower-container img:nth-child(1) {
    bottom: 0rem;
    left: 10rem;
  }

  @keyframes flower-animate-1 {
    0% {
      transform: rotate(-42deg);
    }
    25% {
      transform: rotate(-40deg);
    }
    50% {
      transform: rotate(-42deg);
    }
    75% {
      transform: rotate(-40deg);
    }
    100% {
      transform: rotate(-42deg);
    }
  }

  .page-5 .date-time .day,
  .page-5 .date-time .time,
  .page-6 .date-time .day,
  .page-6 .date-time .time,
  .page-7 .date-time .day,
  .page-7 .date-time .time {
    font-size: 3.5rem;
    padding: 0px 10px;
  }

  .page-5 .address p,
  .page-6 .address p,
  .page-7 .address p {
    font-size: 3rem;
  }

  .page-6 .flower-container {
    top: 15%;
    transform: scale(1.5);
  }

  .page-6 .side-flower-1 {
    max-width: 200px;
    position: absolute;
    bottom: 2rem;
    right: 0;
    z-index: 2;
  }

  .page-6 .lamp-1 {
    max-width: 10%;
    bottom: -5rem;
    right: 18%;
  }

  .page-6 .lamp-2 {
    max-width: 6%;
    bottom: -2rem;
    left: 22%;
  }

  .page-7 .stars {
    max-width: 60%;
    position: absolute;
    z-index: -1;
    opacity: 50%;
  }
  .break-golden-orange {
    height: 20vh;
  }

  .break-orange-white {
    height: 20vh;
  }

  .break-ombre-blue {
    height: 30vh;
  }
}
