@media screen and (min-width: 501px) and (max-width: 900px) {
  :root {
    font-size: 8px;
  }

  .page-1 .text-container {
    position: absolute;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    background-color: var(--bg-1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-1);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    /* padding: 0 10rem; */
  }

  .page-1 .text-container h1:nth-child(1),
  .page-1 .text-container h1:nth-child(3) {
    position: absolute;

    margin: 0px;
    padding: 0px;
    margin-right: 1.5rem;
    margin-left: 1.1rem;
    font-family: "MonteCarlo", cursive;
    font-weight: 400;
  }

  .page-1 .text-container h1:nth-child(1) {
    top: 1rem;
    left: 5rem;
    font-size: 12rem;
  }

  .page-1 .text-container h1:nth-child(3) {
    bottom: 1rem;
    right: 7rem;
    font-size: 11rem;
  }

  .page-1 .text-container h1:nth-child(2) {
    position: absolute;
    font-size: 22rem;
    margin: 0px;
    top: 1rem;
    left: 33%;
    padding: 0px;
    font-family: "Updock", cursive;
    font-weight: 200;
    opacity: 15%;
    padding: 0;
  }

  .page-1 .text-container {
    transform: scale(1.1);
  }

  .page-2 {
    align-items: center;
    justify-content: center;
  }

  .page-2,
  .page-3 {
    height: 50vh;
  }

  .page-4 {
    height: 80vh;
  }
  .page-5,
  .page-6,
  .page-7 {
    height: 100vh;
  }

  /* Page 3 */

  .page-3 p {
    width: 80%;
    text-align: center;
    font-size: 3rem;
    color: var(--text-1);
    font-family: "Alegreya SC", serif;
    z-index: 1;
  }

  .page-3-phone-img-1,
  .page-3-phone-img-2 {
    width: 40%;
  }

  .page-3-phone-img-1 {
    top: 140vh;
    left: -20%;
  }

  .page-3-phone-img-2 {
    top: 180vh;
    right: -20%;
  }

  /* Page 4 */

  .page-4 h1 {
    font-size: 15vw;
    padding: 7vw 5vw;
    margin: 0px auto -20px auto;
    line-height: 8rem;
  }

  .page-4 p {
    max-width: 95%;
  }

  .page-4 p:nth-child(3) {
    margin: -50px 0px -20px 0;
  }

  /* Page 5, 6, 7 */

  .page-5 .heading h1,
  .page-7 .heading h1 {
    font-size: 11rem;
    padding: 40px 0px;
  }

  .page-6 .heading h1 {
    font-size: 11rem;
    padding: 40px 0px;
    text-align: center;
  }

  .page-5 .date-time .day,
  .page-5 .date-time .time,
  .page-6 .date-time .day,
  .page-6 .date-time .time,
  .page-7 .date-time .day,
  .page-7 .date-time .time {
    font-size: 3.5rem;
    padding: 0px 10px;
  }

  .page-5 .address p,
  .page-6 .address p,
  .page-7 .address p {
    font-size: 3rem;
  }

  .page-6 .flower-container {
    top: 0rem;
    transform: scale(1.1);
  }

  .page-6 .side-flower-1 {
    max-width: 200px;
    position: absolute;
    bottom: 2rem;
    right: 0;
    z-index: 2;
  }

  .page-6 .lamp-1 {
    max-width: 10%;
    bottom: -7rem;
    right: 18%;
  }

  .page-6 .lamp-2 {
    max-width: 6%;
    bottom: -2rem;
    left: 22%;
  }

  .page-7 .stars {
    max-width: 60%;
    position: absolute;
    z-index: -1;
    opacity: 50%;
  }

  .page-5 .holud-flowers img:nth-child(2) {
    position: absolute;
    width: 15rem;
    height: auto;
    z-index: 1;
    opacity: 90%;
    top: -15%;
    right: 0rem;
    transform-origin: bottom center;
    animation: flower-animate-2 5s infinite linear;
    transform: scaleY(-1);
  }

  .page-5 .flower-container img:nth-child(1) {
    width: 15rem;
    bottom: -10rem;
    left: 0rem;
  }

  .page-5 .flower-container img:nth-child(1) {
    bottom: 0rem;
    left: 10rem;
  }

  .page-5 .flower-container img:nth-child(1),
  .page-5 .flower-container img:nth-child(2) {
    width: 20rem;
  }

  .page-5 .flower-container img:nth-child(2) {
    top: -30rem;
    right: 0rem;
  }

  .page-5 .flower-container img:nth-child(1) {
    bottom: 10rem;
    left: 0rem;
  }

  @keyframes flower-animate-1 {
    0% {
      transform: rotate(-42deg);
    }
    25% {
      transform: rotate(-40deg);
    }
    50% {
      transform: rotate(-42deg);
    }
    75% {
      transform: rotate(-40deg);
    }
    100% {
      transform: rotate(-42deg);
    }
  }
}
